.add-container {
    color:#fff;
}

.add-form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-items: center;
}

.add-form button {
    border-color: #fff;
    color:#fff;
}